h1 {
  font-size: 48px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: #4aaaa5;
  color: #ffffff;
  position: relative;
}

nav {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  float: left;
}

#navigation {
  margin: 0 auto;
  float: left;
}

a {
  color: #777777;
  text-decoration: underline;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 48px;
  color: #4aaaa5;
}

body {
  background-image: url("../images/spikes.png");
  background-repeat: repeat;
}

.main {
  height: 600px;
  width: 960px;
  background-color: #ffffff;
  border-color: #dddddd;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;
  overflow: auto;
  box-sizing: padding-box;
  padding: 10px;
}

#mainbio {
  display: block;
  float: right;
}

.name {
  width: 960px;
  height: auto; 
  overflow: auto;
  background-color: #4aaaa5;
  color: #ffffff;
}

#fullname {
  padding: 20px;
  background-color: #4aaaa5;
  color: #ffffff;
  border-bottom-color: #cccccc;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  margin-bottom: 40px;
}

#about {
  border-bottom: "#dddddd";
}

#picofme {
  padding: 10px 10px 10px 0px;
  display: block;
  float: left;
}

.btn {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Contact Form CSS */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #666666;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #333333;
}
  
  /* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


  /* Button Over Images */
  /* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

  /* Sticky Footer */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #777777;
    color: white;
    border-top-width: 4px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    text-align: center;
    font-size: 11px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }